.entity-box button:disabled {
  opacity: 100;
}

.entity-box {
  margin: 20px 0;
}

.circle-button-svg-container {
  line-height: 0.8;
}

.constraints-number {
  margin-left: -0.5rem;
}

.unset {
  color: #bbbbbb;
}
