.btn-circle.btn-sm {
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 7px;
  font-size: 0.6rem;
  text-align: center;
}

.btn-circle.btn-md,
.btn-circle {
  /* width: 50px;
            height: 50px;
            padding: 7px 10px;
            border-radius: 25px;
            font-size: 10px;
            text-align: center; */
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 12px;
  font-size: 1rem;
  text-align: center;
}

.btn-circle.btn-lg {
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 17px;
  font-size: 1.4rem;
  text-align: center;
}

.pl-2px {
  padding-left: 2px;
}

.circle-button-character-container {
  line-height: 1;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.metapath-constructor {
  height: 200px;
}

.metapath-control-options {
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  transform: translateY(-33%);
  left: 100%;
  padding: 3px 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}
