.recommendation-entity-box button {
  background-color: #8f8f8f !important;
  cursor: default !important;
}

.recommendation-entity-box {
  margin: 20px 0;
}

.recommendation-entity-box button.emphasized {
  background-color: #6e6e6e !important;
}

.recommendation-connector {
  color: #8f8f8f !important;
}

.recommendation-connector .emphasized {
  color: #6e6e6e !important;
}
