[submodule "libs/EntitySimilarity"]
	path = libs/EntitySimilarity
	url = https://github.com/schatzopoulos/EntitySimilarity.git
[submodule "libs/HMiner"]
	path = libs/HMiner
	url = https://github.com/smartdatalake/HMiner
