[submodule "libs/EntitySimilarity"]
	path = libs/EntitySimilarity
	url = https://github.com/schatzopoulos/EntitySimilarity.git
[submodule "libs/VeTo-workflows"]
	path = libs/VeTo-workflows
	url = https://github.com/schatzopoulos/VeTo-workflows.git
