/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

.attribute-type {
  color: grey;
  font-style: italic;
  font-size: 0.9em;
}

.attribute-row {
  margin-bottom: 3px;
}

.small-grey {
  color: grey;
  font-size: 0.9em;
}

.small-red {
  color: red;
  font-size: 0.9em;
}
